<main class="welcome-page container-fluid">

<div style="text-align: center">
  <h1>Hi <span id="name"></span>,</h1>

  <h3 style="margin-top: 30px;">Welcome!</h3>
</div>

</main>


<link rel="stylesheet" type="text/css" href="/stylesheets/welcome.css">
<script type="text/javascript" src="/javascripts/welcome.js"></script>

<style type="text/css">

.body {
  background: #2b2d42;
}

</style>